<div class="flex flex-col items-center w-full p-2">
  <!-- <div
    class="flex flex-col border border-white hover:border-gray-dark bg-gray-medium w-72 h-[30rem] p-2 rounded-lg shadow-lg transition ease-in-out duration-300"
    [routerLink]="['/post', post.username, post.postId]"
  > -->
  <div
    class="flex flex-col border border-white hover:border-gray-dark bg-gray-medium w-72 h-[30rem] p-2 rounded-lg shadow-lg transition ease-in-out duration-300"
    
  >
    <!-- IMAGEN -->
    <div>
      <img
        [src]="post.imageUrl || '/sin-perfil.jpg'"
        alt="Logo"
        class="w-72 h-72 object-cover shadow-lg rounded-lg"
      />
    </div>
    <!-- LIKES Y COMENTARIOS -->
    <div class="flex mt-3 ml-2">
      <!-- LIKES -->
      <div class="flex gap-1">
        @if(post.isLiked){
          <app-like-heart [isFilled]="true" [color]="'text-orange'" [size]="'size-6'"/>
        }@else{
          <app-like-heart [isFilled]="false" [color]="'text-gray-heavy'" [size]="'size-6'"/>
        } 
        <p class="text-gray-heavy">{{ post.likesQuantity }}</p>
      </div>

      <!-- COMMENTS -->
      <div class="flex gap-1 ml-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1"
          stroke="currentColor"
          class="size-6 text-gray-hover"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 0 1-.923 1.785A5.969 5.969 0 0 0 6 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337Z"
          />
        </svg>
        <p class="text-gray-heavy">{{ post.commentsQuantity }}</p>
      </div>
    </div>
    <!-- DESCRIPCION -->
    <div class="flex text-gray-heavy pt-3 ml-2 max-w-64 h-24">
      <pre
        class="text-start whitespace-pre-wrap break-words text-sm font-normal font-sans max-w-60"
      ><span class="mr-2 font-semibold text-base text-gray-hover {{isProfileView?'hidden':''}}">{{post.username}}</span>{{truncateDescription(post.description,75)}}</pre>
    </div>
    <!--  TIMESTAMP -->
    <div class="flex justify-end pr-5 w-full pt-2">
      <p class="text-sm font-semibold text-gray-hover">
        {{ postDate(post.timeStamp) }} Ago
      </p>
    </div>
  </div>
</div>
