
<!-- <p>el parametro es {{id}}</p> -->

<div class="flex  flex-col items-center w-full bg-yellow px-4 py-10 sm:p-16  h-dvh   overflow-y-auto">
    <!-- USUARIO -->
    <div class="flex bg-orange w-full sm:w-8/12 md:w-10/12 lg:w-6/12 h-min ">
        <!-- Imagen de perfil -->
        <div class="flex w-5/12 h-36 md:h-60 bg-black"></div>
        <!-- Datos del usuario -->
        <div class="flex w-7/12 h-36 md:h-60 bg-gray-medium"></div>
    </div>

    <!-- POSTS -->
    <div class="flex flex-col w-10/12 bg-orange  mt-10 mb-20" >
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>

        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>

        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>

        <p>Content 4</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
        <p>Content 3</p>
        <p>Content 2 </p>


    </div>
</div>
