<div class="fixed flex flex-col rounded-xl modal-chat bg-white pt-3">
  <!--  <div
    class="hidden lg:flex lg:flex-col lg:justify-between bg-gray-light w-5/12 h-full rounded-l-3xl lg:p-11"
  ></div> -->

  @if(chat.isOpen){
  <!-- INFORMACION DEL USUARIO -->
  <app-chat-header [chat] = "chat" (backEventEmitter)="back()"/>
  <!-- VENTANA DE MENSAJES -->
  <div
    class="flex flex-col w-full h-4/6 overflow-y-auto  px-5"
    (scroll)="onScroll($event)"
  >
    @for (message of chat.messages; track message.sk) {

      @if(message.sender == store.user().username){
        <!-- MENSAJE DE REMITENTE -->
        <div class="flex w-full justify-end mb-2">
          <p class="bg-gray-light rounded-lg p-2 px-4 ml-20 shadow-md">
            Esto
            <span class="text-xs font-thin ml-2">9:36 p.m.</span>
          </p>
        </div>
      }@else{

        <!-- MENSAJE DE DESTINATARIO -->
        <div class="flex w-full justify-start ">
          <p class="w-10/12 bg-gray-dark rounded-lg p-2 shadow-md">
            Esto es un mensaje con contenido , con contenido con contenidocon
            contenido con contenido con contenidocon contenidocon contenido
            <span class="text-xs font-thin ml-2">9:36 p.m.</span>
          </p>
        </div>
      }
  
    }
  </div>
  <!-- INPUT DE ESCRITURA -->
  <div class="flex h-1/6 pt-7 px-5 bg-white">
    <textarea
      #messageField
      class="h-11 w-9/12 rounded-lg p-3  resize-none outline-none text-sm bg-gray-light shadow-sm"
      (keydown)="enterMessage(messageField, $event)"
    ></textarea>
    <!-- <div class="flex justify-end h-3/6 w-2/12 bg-orange"> -->
      <button
        (click)="sendMessage(messageField)"
        [disabled]="isLoading"
        class="flex h-11 shadow-lg justify-center items-center button-full py-2 w-3/12 ml-3 {{
          isLoading ? 'hover:bg-black' : ''
        }}"
      >
        Send
      </button>
    <!-- </div> -->
  </div>

  }@else{
  <p class="pl-10 text-xl font-bold mb-10">Chats</p>
  <div
    class="flex flex-col w-full h-full rounded-xl overflow-y-auto"
    (scroll)="onScroll($event)"
  >
    <app-chat-card class="w-full" />
    <app-chat-card class="w-full" />
    <app-chat-card class="w-full" />
    <app-chat-card class="w-full" />
    <app-chat-card class="w-full" />
    <app-chat-card class="w-full" />
    <app-chat-card class="w-full" />
  </div>
  }
</div>
