

<!-- <div
  class="fixed flex flex-row justify-center items-center rounded-3xl modal-chat transition ease-in-out duration-1000 {{
    closeSignForm ? 'opacity-0 invisible' : 'opacity-100 visible'
  }}"
>
</div> -->

<div
  class="fixed flex flex-row justify-center items-center rounded-3xl modal-chat"
>
  <div
    class="hidden lg:flex lg:flex-col lg:justify-between bg-gray-light w-5/12 h-full rounded-l-3xl lg:p-11"
  ></div>

  <div
    class="flex bg-white w-full lg:w-7/12 h-full rounded-2xl lg:rounded-r-3xl lg:rounded-l-none px-10 md:px-16 lg:px-10 py-8 lg:py-14"
  ></div>
</div>

<!-- class="transition ease-in-out duration-1000 {{
    closeSignForm ? 'opacity-0 invisible' : 'opacity-100 visible'
  }}"
 -->
