<div
  class=" flex w-6 h-6 mt-1 mr-1 sm:mt-1.5 lg:mt-2 lg:mr-10 sm:mr-4 sm:h-7 sm:w-7 lg:h-8 lg:w-8 justify-center items-center shadow-2xl rounded-full "
>
  <button
    class="flex w-full h-full rounded-full justify-center items-center border text-4xl transition ease-in-out duration-300 bg-gray-heavy text-white hover:bg-gray-light hover:text-black "
    [routerLink]="['/post/new-post']"
    >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="bg-gray-light"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-5 "
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
  </button>
</div>
