<div class="fixed flex flex-col bg-gray-light w-full">
  <app-header class="flex w-full" />

  <!-- CHAT --------------------------------------------------------->
  <div
    class="fixed bg-black h-dvh w-full transition ease-in-out duration-500 {{
      chatOpened ? 'opacity-50 visible' : 'opacity-0 invisible'
    }}"
  ></div>

  <app-chat-frame
    [chat] = "currentChat"
    [isOpen]="chatOpened"
    (closeChatEventEmitter)="closeChat()"
    class="transition ease-in-out duration-100 {{
      chatOpened ? 'opacity-100 visible' : 'opacity-0 invisible'
    }}"
  />

  <!--  ----------------------------------------------------------------- -->

  <main class="pt-28">
    <router-outlet />
  </main>
</div>
